{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "@vue/prettier"
  ],
  "rules": {
    "no-console": [
      0,
      "log",
      "error"
    ]
  },
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
