@import 'variable.styl'
@import 'mixin.styl'
body, html
  line-height 1
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select none
  -webkit-tap-highlight-color transparent
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
.font-red
  color $color-red
.font-green
  color $color-green
.font-white
  color $color-white
.loading-wrapper
  pos-center()
  z-index 9
  width 40px
  height 40px
