// 背景图片
bg-image($imgName)
  $image2X = './images/' + $imgName + '@2x.png'
  $image3X = './images/' + $imgName + '@3x.png'
  width image-size($image2X)[0]
  height image-size($image2X)[1]
  background-repeat no-repeat
  background-size contain
  background-image url($image2X)
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
    background-image url($image3X)
// 锁定图片尺寸
max-size($size = 100%)
  max-width $size
  max-height $size
// 多行溢出
mult-line($line = 2)
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp $line
  -webkit-box-orient vertical
// 前缀icon
prefix-icon($width = 0, $height = 0)
  pos-y()
  content ''
  height $height
  width $width
  background-repeat no-repeat
  background-size contain
// 不换行
no-wrap()
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
// 扩展点击区域
extend-click()
  position relative
  &::before
    content ''
    position absolute
    top -10px
    left -10px
    right -10px
    bottom -10px
// 满屏
fixed-full($zIndex = 2)
  position fixed
  z-index $zIndex
  top 0
  left 0
  right 0
  bottom 0
// 清除浮动
clearfix()
  &:before, &:after
    content ''
    display table
  &:after
    clear both
    overflow hidden
// 水平垂直居中
pos-center()
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
// 仅水平居中
pos-x()
  position absolute
  left 50%
  transform translateX(-50%)
// 仅垂直居中
pos-y()
  position absolute
  top 50%
  transform translateY(-50%)
// 水平(上下)边框
border-x($width, $dir = top, $color = #d7d7d7)
  content '\0020'
  width $width
  height 1px
  transform scaleY(0.5)
  if ($dir == top)
    border-top 1px $color solid
  else
    border-bottom 1px $color solid
  @media (min-resolution: 3dppx)
    transform scaleY(0.33333)
// 垂直(左右)边框
border-y($height, $dir = right, $color = #d7d7d7)
  content '\0020'
  height $height
  width 1px
  transform scaleX(0.5)
  if ($dir == right)
    border-right 1px $color solid
  else
    border-left 1px $color solid
  @media (min-resolution: 3dppx)
    transform scaleX(0.33333)
// 等腰三角形
regular-triangle($direction = top, $width = 20px, $color = #000)
  width 0
  height 0
  border-width $width
  if ($direction == top)
    border-style dashed dashed solid dashed
    border-color transparent transparent $color transparent
  else if ($direction == right)
    border-style dashed dashed dashed solid
    border-color transparent transparent transparent $color
  else if ($direction == bottom)
    border-style solid dashed dashed dashed
    border-color $color transparent transparent transparent
  else if ($direction == left)
    border-style dashed dashed dashed solid
    border-color transparent transparent transparent $color
// 直角三角形
right-triangle($direction = bottom, $width = 20px, $color = #000)
  width 0
  height 0
  border-width $width
  // 向上
  if ($direction == top)
    border-style dashed
    border-color transparent $color $color transparent
  // 向右
  if ($direction == right)
    border-style dashed
    border-color $color transparent transparent $color
  // 向下
  if ($direction == bottom)
    border-style dashed
    border-color transparent transparent $color $color
  // 向左
  if ($direction == left)
    border-style dashed
    border-color $color $color transparent transparent
