// 背景颜色定义规范
$color-background = #fff
$color-background-d = rgba(0, 0, 0, 0.3)

// 主题颜色
$color-theme = #f54545
$color-theme-l = rgba(255, 205, 49, 0.5)
$color-theme-d = #d93f30

// 字体颜色
$color-text = #1a1a1a
$color-333 = #333
$color-666 = #666
$color-999 = #999

$color-white = #fff
$color-red = #f54343
$color-green = #1aae52

//字号尺寸
$font-20 = 20px
$font-24 = 24px
$font-28 = 28px
$font-32  = 32px
$font-36  = 36px
$font-40  = 40px
$font-44 = 44px

