
@import '~common/stylus/variable'
@import '~common/stylus/mixin'
.container
  background #fff
  overflow hidden
  .slide-wrapper
    width 100%
    height 450px
    .slide-item
      .img
        display block
        width 100%
  .btn
    margin auto
    width 375px
  .btn2
    margin 15px 0
    width 150px
