@import '~common/stylus/variable.styl'
@import '~common/stylus/mixin.styl'
.container
  background #fff
  overflow hidden
  .slide-wrapper
    width 100%
    height 450px
    .slide-item
      width 100%
      .img
        display block
        width 100%
  .btn
    width 375px
    margin 20px auto
  .btn2
    margin 15px 0
    width 150px
