@import '~common/stylus/variable'
@import '~common/stylus/mixin'
.login
  fixed-full(9)
  background-color $color-background
  padding 30px
.tip-text
  color #c00
  font-weight 600
  text-align center
  margin 20px auto 50px
.input
  margin-bottom 20px
